/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700;500&display=swap');

.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

#logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: cornflowerblue;
}

.data-view {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

nav {
    background-color: cornflowerblue;
}

.navbar-brand, .nav-link {
    color: black;
}

body {
    background-color: rgb(45, 78, 138);
    box-sizing: border-box;
}

.vh-75 {
    height: 75vh;
}